body {
    margin: 0;
    background-color: aquamarine;
    text-align: center;

}

button {
    background-color: rgb(169, 169, 169);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(183, 181, 181);
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 20%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 4px 6px 4px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #818181;
    display: block;
    font-size: 30px;
}

.sidenav a:hover {
    color: #f1f1f1;

}

.main {
    margin-left: 20%;
    /* Same as the width of the sidebar */
    padding: 10px 10px;
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .sidenav {
        width: 30%;
    }

    .main {
        margin-left: 30%;
    }
}