#gameBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.squareFilled {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}